@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  display: grid;
  justify-items: end;

  &__btn {
    display: none;
  }

  &__list {
    @include unlist;
    display: flex;
    justify-content: flex-end;
    padding: $gap;
    width: 100%;
    justify-content: end;
  }

  &__item {

  }

  &__link {
    display: block;
    padding: $gap;
    font-size: 1.126rem;
    letter-spacing: 0.09em;
    transition: color 0.25s;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
